<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Accord.DNN.CPP" Description="Code analysis rules for Accord.DNN.CPP.vcxproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26429" Action="None" />
    <Rule Id="C26440" Action="None" />
    <Rule Id="C26481" Action="None" />
  </Rules>
</RuleSet>